* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#container,
#container-alunos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: uppercase;
}

#container-alunos {
  border: 1px solid #000;
  margin: 20px 0;
}

#container-alunos li {
  padding: 5px 0;
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: center;
}

#container-alunos li:last-child {
  border: none;
}

#container-alunos li + li {
  margin-top: 10px;
}

#container-alunos li a {
  text-transform: uppercase;
  transition: all 0.1s;
  font-weight: bold;
  color: #000;
}

#container-alunos li a:hover {
  color: blueviolet;
}
