@import url(./reset.css);
:root {
  --bg-ano-info: #7030a0;
}

.navegacao {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.container img.logomarca {
  width: 30%;
  margin-top: 30px;
  border: none;
}

#familia {
  width: 80%;
}

.title-familia {
  margin: 40px 0;
  font-size: 1.875pc;
  text-transform: uppercase;
  text-align: center;
}

#familia p {
  text-align: center;
  line-height: 1.3;
}

.primeira::first-letter {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.125pc;
  font-weight: bold;
}

#familia p + p {
  margin-top: 10px;
}

.container-carne {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container-carne .carne-item {
  margin: 0px 0 50px 0;
}

.container-carne .carne-item + .carne-item {
  margin-left: 10px;
}

.container .linha {
  margin: 50px 0 30px 0;
  width: 100%;
  border: 2px dotted #000;
}

.carne-item {
  border: 2px solid #000;
  width: 430px;
}

.header-carne {
  display: flex;
  justify-content: space-between;
}

.logo-carne {
  width: 95px;
  height: 45px;
}

.title-carne {
  margin-top: 5px;
  text-transform: uppercase;
}

.ano {
  background-color: var(--bg-ano-info);
  padding: 1px 0;
  color: #fff;
  font-weight: bold;
  text-align: right;
}

.text-preto {
  font-weight: bold;
}

.informacoes-pagamento li {
  border-bottom: 1px solid #000;
  padding: 1px 0;
}

.informacoes-pagamento li:last-child {
  border: none;
}

.informacoes-pagamento li .mes {
  text-align: right;
  margin-left: 10%;
}

.espacamento {
  margin-bottom: 61px;
}

.valores {
  margin-top: 5px;
}

.valores p {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.valores p:last-child {
  border: none;
}

.valores .texto-verde {
  color: green;
}

.valores .texto-marrom {
  color: #d4b357;
}

.valores .valor {
  margin-left: -6px;
}

.valores .texto-vermelho {
  color: red;
  font-size: 0.813rem;
}

.valor-pago {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.forma-de-pagamento {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.forma-de-pagamento li {
  border: none;
}
