@import url(./reset.css);

:root {
  --bg-ano-info: #7030a0;
}

.navegacao {
  width: 100%;
  margin-top: 20px;
  text-align: right;
}

.navegacao nav .logout {
  background-color: blueviolet;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img.logomarca {
  width: 25%;
  margin-top: 30px;
}

#familia {
  width: 80%;
}

.title-familia {
  margin: 40px 0;
  font-size: 1.875pc;
  text-transform: uppercase;
  text-align: center;
}

#familia p {
  text-align: center;
  line-height: 1.5;
}

#familia p + p {
  margin-top: 10px;
}

.container-carne {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
}

.container-carne .carne-item {
  margin: 30px 0;
}

.carne-item {
  border: 2px solid #000;
  width: 100%;
}

.header-carne {
  display: flex;
  justify-content: space-between;
}

.logo-carne {
  width: 95px;
  height: 45px;
}

.title-carne {
  margin-top: 5px;
  text-transform: uppercase;
}

.ano {
  background-color: var(--bg-ano-info);
  padding: 1px 0;
  color: #fff;
  font-weight: bold;
  text-align: right;
}

.text-preto {
  font-weight: bold;
}

.informacoes-pagamento li {
  border-bottom: 1px solid #000;
  padding: 1px 0;
}

.informacoes-pagamento li:last-child {
  border: none;
}

.informacoes-pagamento li .mes {
  text-align: right;
  margin-left: 10%;
}

.espacamento {
  margin-bottom: 61px;
}

.valores {
  margin-top: 5px;
}

.valores p {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.valores p:last-child {
  border: none;
}

.valores .texto-verde {
  color: green;
}

.valores .texto-marrom {
  color: #d4b357;
}

.valores .texto-vermelho span {
  color: red;
  font-size: 0.813rem;
}

.valor-pago {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.forma-de-pagamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.forma-de-pagamento li {
  margin-bottom: 10px;
  border: none;
}

.forma-de-pagamento li:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 900px) {
  .container img.logomarca {
    width: 20%;
    margin-top: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
  }

  .container-carne {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
  }

  .container-carne .carne-item {
    flex: 0 0 50%;
    margin: 30px 0;
  }
  .container-carne .carne-item + .carne-item {
    margin-left: 10px;
  }

  .valor-pago {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
  }

  .forma-de-pagamento {
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }

  .forma-de-pagamento li {
    margin-bottom: 0px;
    border: none;
  }
  .forma-de-pagamento li:first-child {
    margin-bottom: 0px;
    border: none;
  }
}
