@import url(./reset.css);
.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40vh auto 0 auto;
}

label {
  font-weight: 900;
}

#password {
  margin-top: 20px;
  width: 50%;
  height: 30px;
  padding: 10px 5px;
  border: 2px solid blueviolet;
}

#password:focus {
  outline: none;
  opacity: 0.8;
  border: 2px solid blueviolet;
}

.btn {
  margin-top: 20px;
  width: 50%;
  height: 30px;
  border: none;
  background-color: blueviolet;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s;
}
